{
  "sso": {
    "description": "{{ laclasse_sso_description }}",
    "title": "{{ laclasse_sso_title }}",
    "app_id": "{{ laclasse_sso_app_id }}",
    "path": "{{ laclasse_sso_path }}",
    "version": {
      "asked": {{ laclasse_sso_version }}",
      "current": "{{ git_tag.stdout }}"
    }
  }
}
