{
  "sso": {
    "description": "{{ laclasse_services.sso.description }}",
    "title": "{{ laclasse_services.sso.title }}",
    "app_id": "{{ laclasse_services.sso.app_id }}",
    "path": "{{ laclasse_services.sso.path }}/",
    "version": {
      "asked": {{ laclasse_sso_version }}",
      "current": "{{ git_tag.stdout }}"
    }
  }
}
